<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:C:/Users/ciuis/Desktop/FACULTATE/ANUL II/SEM II/MPP/databases/database_ta.db</property>

        <!-- SQLite doesn't typically need username/password -->
        <!-- <property name="hibernate.connection.username"></property> -->
        <!-- <property name="hibernate.connection.password"></property> -->

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>

        <!-- Schema generation -->
        <property name="jakarta.persistence.schema-generation.database.action">validate</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>

        <!-- Mapping files -->
        <mapping class="triathlon.model.EventEntity"/>
        <mapping class="triathlon.model.ParticipantEntity"/>
    </session-factory>
</hibernate-configuration>