<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Host=localhost;Port=5432;Database=sgbd;Username=postgres;Password=7979" providerName="Npgsql" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	
	<appSettings>
		<add key="parentTable" value="factories"/>
		<add key="parentPK" value="id"/>
		<add key="parentAsSingularNoum" value="Factory"/>
		<add key="parentAsPluralNoum" value="Factories"/>
		<add key="childTable" value="products"/>
		<add key="childAsSingularNoum" value="Product"/>
		<add key="childAsPluralNoum" value="Products"/>
		<add key="childPK" value="id"/>
		<add key="childFK" value="factory_id"/>
		<add key="server" value="localhost"/>
		<add key="database" value="sgbd"/>
	</appSettings>
	
	<!--
		<appSettings>
		<add key="parentTable" value="departments"/>
		<add key="parentPK" value="id"/>
		<add key="parentAsSingularNoum" value="Department"/>
		<add key="parentAsPluralNoum" value="Departments"/>
		<add key="childTable" value="engineers"/>
		<add key="childAsSingularNoum" value="Engineer"/>
		<add key="childAsPluralNoum" value="Engineers"/>
		<add key="childPK" value="id"/>
		<add key="childFK" value="department_id"/>
		<add key="server" value="localhost"/>
		<add key="database" value="sgbd"/>
	</appSettings>
	-->
</configuration>
