body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: red;
    color: black;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu ul {
    display: flex;
    list-style: none;
    background-color: yellow;
    margin: 0;
    align-items: center;
}

.menu ul li {
    flex: 1;
    border-right: 1px solid black;
    padding: 5px;
}

main {
    background-color: green;
    color: black;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

footer {
    background-color: pink;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
